@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

.card {
    width: 300px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 10px;
}

.card-content p {
    font-size: 16px;
    margin: 5px 0;
}

.card-content .name {
    font-weight: bold;
}

my-card{
    display: flex;
    flex-wrap: wrap;
}